

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
*{
    font-family: 'Work Sans', sans-serif;
}
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
.nav-title {
    color: var(--dark-01, #131313);
    text-align: center;
    font-family: Work Sans;
    font-size: 19px;
    font-weight: 700;
}
nav{
    display: flex;
    justify-content: space-between;

}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    color:#424242;
    font-size: 1rem;
    font-weight: 500;
 
   
}
ul li a{
    text-decoration: none;
}
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    
}
.banner-title-des{
    color:#131313);
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
   
}
.banner-des{
    color: var(--dark-03, #727272);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
  
}
.btn-primary {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    background: #FF900E;
    border: none;
    padding: 17px 20px;
    color: #ffff;
}
.img {
    width: 100%;
    margin-top: 38px;
}

main{
    max-width: 1440px;
    margin: 70px auto;
}
.team-container{
    display: flex;
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.team-content{
   padding-left: 70px;
   padding-right: 70px;
}
.team-title{
    font-size: 3.8rem;
}
.quick{
    color:#727272;
}
.of-our{
    color: #131313;
}
.feature{
    color:#FF900E;
}
.text-light-grey{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    
}
.fact-heading{
    color: var(--dark-01, #131313);
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
 
}
.fact-des {
    max-width: 542px;
    margin-bottom: 40px;
}
.fact-card-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.fact-card-container .fact-card{
    border-radius: 8px;
    border: 1px solid #FF900E;
}

.fact-card-container .card-status {
    color: #424242;
    font-size: 2.8rem;
    font-weight: 600;
    padding: 40px 30px;
    border-radius: 8px;
    margin-bottom: -49px;
    padding: 32px 41px;
}
.fact-card-container .card-des {
    color: #727272;
    font-size: 1,25rem;
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 27px;
    padding: 9px;
}
.img-fact {
    margin-top: 31px;
    margin-bottom: -74px;
}


/* responsive small media */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav,
    .team-container
    {
        flex-direction: column;
    }

    .team-img-container{
        grid-template-columns: 1fr;
    }

    
    
}
/* medium device reponsive */
@media screen   and (min-width:576 and max-width:960){
    header{
        padding: 50px;
    }
    nav, .team-container{
        flex-direction: column;
    }
    
}
